<div class="section">
  <div class="page-width">
    <div class="collection-head">
      <h1>{{ page_title | default: 'Collections' }}</h1>
    </div>
    <div class="product-grid">
      {%- for collection in collections -%}
        <div class="card">
          <a href="{{ collection.url }}" class="card__media">
            {%- if collection.featured_image -%}
              <img src="{{ collection.featured_image | image_url: width: 600 }}"
                   alt="{{ collection.title | escape }}" width="600" height="600" loading="lazy">
            {%- else -%}
              {{ 'collection-1' | placeholder_svg_tag }}
            {%- endif -%}
          </a>
          <div class="card__info">
            <a href="{{ collection.url }}"><div class="card__title">{{ collection.title }}</div></a>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collections list",
  "settings": []
}
{% endschema %}
